.userSection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    z-index: 0;
}

.userInfo .userImg {
    width: 150px;
    border-radius: 100px;
}

.userInfo .userName {
    color: whitesmoke;
    text-align: left;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
}

.bookedNights {
    z-index: 100;
    margin-top: 50px;
    margin-left: 500px;
}

.bookedNights li .movieTitle {
    margin-left: 15px;
    color: whitesmoke;
}

.bookedNights li .startDate {
    margin-left: 15px;
    color: whitesmoke;
}

.bookedNights li img {
    width: 50px;
    margin-top: 25px;
}

.seperator {
    margin-left: 5px;
    color: red;
    font-weight: 600;
}

.groupSection {
    z-index: 100;
    margin-top: 50px;
    margin-left: 500px;
}

.groupSection li .groupTitle {
    margin-left: 20px;
    color: whitesmoke;
}

.groupSection li .startDate {
    margin-left: 12px;
    color: whitesmoke;
}

.groupSection li {
    margin-top: 15px;
}

.groupSection li img {
    width: 50px;
}

.seperator {
    margin-left: 8px;
    color: red;
    font-weight: 600;
}

h5 {
    color: orange;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.verticle-line {
    z-index: 100;
    width: 1px;
    min-height: 750px;
    background: red;
    margin-left: 53%;
    margin-top: -750px;
  }

.addIcon {
    color: green;
    margin-left: 8px;
    cursor: pointer;
}

.modal-form-row {
    margin-bottom: 0px;
  }

  mz-modal-header h4 {
    display: flex;
    justify-content: center;
  }

  .input-field {
      width: 50%;
  }

  #options-select {
      color: red;
  }

  .groupMembers {
      margin-left: 8px;
      color: grey;
      font-size: 14px;
  }

  .groupSectionNoContent {
      display: flex; 
      justify-content: center;
      text-align: center;
      margin-top: 50px;
  }

  .groupSectionNoContent .header {
      font-size: 24px;
      color: grey;
  }

  .groupSectionNoContent .subheader {
      color: grey;
  }

  .groupSectionNoContent i {
      font-size: 64px;
      margin-top: 25px;
  }

  .logoutDiv {
      display: flex;
      justify-content: center;
  }
  
  .logoutDiv .logoutButton {
    margin-top: 150px;
    width: 15%;
}


