/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
    background-color: black;
}

/* .owl-dt-calendar-table .owl-dt-calendar-cell-disabled {
    cursor: default;
    background-color: red !important;
    border-radius: 80px !important;
} */

  .owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
    color: red !important;
    font-weight: 500;
}

