<div class="logoDiv">
    <img src="/src/assets/img/logo.png">
</div>

<div class="plot">
    <p>
        In gravida enim id turpis euismod blandit. Aenean neque lorem, consequat et efficitur dignissim, finibus sit
        amet
        eros. Sed auctor nunc auctor volutpat interdum. Etiam et condimentum nulla. Fusce molestie pretium dolor sit
        amet
        tempor. Sed sed dolor vitae eros convallis finibus. Nullam non lorem in erat maximus mattis. Praesent id
        malesuada
        dolor. Quisque ac quam accumsan, cursus dui consequat, laoreet purus. Maecenas eget neque aliquet, rhoncus odio
        ut,
        molestie risus. Sed at molestie purus.
    </p>
</div>

<div class="signinButton btn red darken-4 col s10 m4" (click)="login()">
    <div class="left">
        <img width="20px" class="googleIcon" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    </div>
    <span style="color: white">Login with Google</span>