
h1 {
    margin-top: 75px;
    color: whitesmoke;
}

.signinButton {
    text-transform:none; 
    margin-left: 42%; 
    margin-top: 5%; 
    width: 15%;
}

.googleIcon {
    margin-top: 0px; 
    margin-left: 2px;
}