<p>Title: {{selectedMovie?.Title}}</p>
<p>Year released: {{selectedMovie.movieDescription?.Released}}</p>
<p>Language: {{selectedMovie.movieDescription?.Language}}</p>
<p>Genre: {{selectedMovie.movieDescription?.Genre}}</p>
<p>Runtime: {{selectedMovie.movieDescription?.Runtime}}</p>
<p>Rating on IMDB: {{selectedMovie.movieDescription?.imdbRating}}</p>
<p>Actors: {{selectedMovie.movieDescription?.Actors}}</p>
<p>Plot: {{selectedMovie.movieDescription?.Plot}}</p>

<img src="{{selectedMovie?.Poster}}">

<!-- <div><button mat-raised-button color="primary">Book this movie</button></div> -->
<div><button (click)="goBack()" mat-raised-button color="primary">Go back to dashboard</button></div>
<div><button (click)="showOnImdb()" mat-raised-button color="primary">Read about movie on imdb</button></div>


<div class="example-wrapper">
    <label class="example-input-wrapper">
        <input placeholder="Choose date" (dateTimeInput)="addEvent($event)" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
        <owl-date-time #dt></owl-date-time>
    </label>
</div>