<h1>Dashboard</h1>

<mat-form-field class="example-full-width">
    <input type="text" [(ngModel)]="userInput" placeholder="Sök bland filmer" (keyup)="clearOptions(userInput)" (keyup)="searchMovies(userInput)"
        matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let movie of searchResult" (click)="movieDetail(movie)">
            {{movie.Title}}<i class="fa fa-info-circle" aria-hidden="true"></i>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<section class="topMovie">
    <ul class="img-list">
        <li *ngFor="let topMovie of topRatedMovies" (click)="movieDetail(topMovie)"><img src="{{topMovie.Poster}}"></li>
    </ul>
</section>



<button (click)="logout()" mat-raised-button color="primary">Logout</button>