h1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

::ng-deep .mat-form-field {
    margin-left: 25% !important;
	margin-bottom: 30px !important;
    width: 50% !important;
}


::ng-deep .mat-input-underline .mat-focused {
    border-bottom: 1px solid red !important;
}

::ng-deep .mat-input-underline {
    color: transparent !important;
}

button {
    margin: auto;
    margin-top: 6%;
    display:block;
    width: 15%;
    margin-bottom: 50px;
}

.fa-info-circle {
    font-size: 24px;
    margin-top: 12px;
    float: right;
    color: seagreen;
}

.main[_ngcontent-c1] {
    display: inline-block;
    width: 200px;
    padding: 25px;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 18px;
    word-break: break-word;
}

.img-list li {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
}

.img-list img {
    margin: 15px;
    height: 250px;
    width: 150px;
    cursor: pointer;
}

.topMovieTitle {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 270px;
    max-width: 120px;
    margin-left: -15px;
    word-break: break-word;
    font-size: 11px;
    color: white;
}

.topMovieHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.childrenMovieHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.tvSeriesHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.topMovieImdbRating i {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 272px;
    max-width: 120px;
    margin-left: -45px;
    word-break: break-word;
    font-size: 14px;
    color: yellow;
}

.topMovieImdbRating p {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 270px;
    max-width: 120px;
    margin-left: -28px;
    word-break: break-word;
    font-size: 12px;
    color: white;
}

mat-placeholder i {
	color: white;
    font-weight: 500;
    margin-right: 5px;
}

.childrenMovie {
    margin-top: 80px;
}

.tvSeries {
    margin-top: 80px;
}
   
   input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    color: whitesmoke !important;
   }
   
    input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 0px solid black !important;
    box-shadow: 0 0px 0 0 black !important;
   }

.myPageIcon {
    position: absolute;
    margin-left: 90%;
    margin-top: -10px;
    cursor: pointer;
}

.myPageIcon i {
    font-size: 42px;
    color: red;
}

