h1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

.mat-form-field[_ngcontent-c1] {
    margin-left: 25%;
	margin-bottom: 30px;
    width: 50%;
}

::ng-deep .mat-input-underline{
    border-bottom: 1px solid red !important;
}

button {
    margin: auto;
    margin-top: 6%;
    display:block;
    width: 15%;
}

.fa-info-circle {
    font-size: 24px;
    margin-top: 12px;
    float: right;
    color: seagreen;
}

.main[_ngcontent-c1] {
    display: inline-block;
    width: 200px;
    padding: 25px;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 18px;
    word-break: break-word;
}

.img-list li {
    display: flex;
    justify-content: center;
    
}


ul {
    display: flex;
    justify-content: center;
}

.img-list img {
    margin: 15px;
    height: 250px;
    width: 150px;
    cursor: pointer;
}

.topMovieTitle {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 270px;
    max-width: 120px;
    margin-left: -15px;
    word-break: break-word;
    font-size: 11px;
    color: white;
}

.topMovieHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.childrenMovieHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.tvSeriesHeader {
    margin-left: 325px;
    color: orange;
    letter-spacing: 2px;
}

.topMovieImdbRating i {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 272px;
    max-width: 120px;
    margin-left: -45px;
    word-break: break-word;
    font-size: 14px;
    color: yellow;
}

.topMovieImdbRating p {
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 270px;
    max-width: 120px;
    margin-left: -28px;
    word-break: break-word;
    font-size: 12px;
    color: white;
}

mat-placeholder i {
	color: white;
    font-weight: 500;
    margin-right: 5px;
}


input[type=text] {
    color: grey;
}

.childrenMovie {
    margin-top: 80px;
}

.tvSeries {
    margin-top: 80px;
}
