h1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.mat-form-field[_ngcontent-c1] {
    margin-left: 25%;
	margin-bottom: 30px;
    width: 50%;
}

button {
    margin: auto;
    margin-top: 6%;
    display:block;
    width: 15%;
}

.fa-info-circle {
    font-size: 24px;
    margin-top: 12px;
    float: right;
    color: seagreen;
}

.main[_ngcontent-c1] {
    display: inline-block;
    width: 200px;
    padding: 25px;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 18px;
    word-break: break-word;
}

.img-list li {
    display: flex;
    justify-content: center;
    
}


ul {
    display: flex;
    justify-content: center;
}

.img-list img {
    margin: 15px;
    height: 250px;
    width: 150px;
    cursor: pointer;
}